[Unit]
Description=Photobooth
After=network-online.target
 
[Service]
ExecStart=/home/pi/shmile/scripts/start_photobooth.sh
StandardOutput=syslog
WatchdogSec=30s
Restart=on-failure
StartLimitInterval=5min
StartLimitBurst=4
StartLimitAction=reboot-force
NotifyAccess=all

[Install]
WantedBy=multi-user.target
Alias=photobooth.service
